# AWS Provider

aws_region = "ap-northeast-1"

default_tags = {
  Project = "sonodar/test"
}

# S3 Bucket for Dify Storage

dify_storage_bucket = "dify-sonodar-test-1"

# VPC

vpc_id             = "vpc-xxxxxxxxxxxxxxxxxx"
private_subnet_ids = ["subnet-xxxxxxxxxxxxxxxxx", "subnet-xxxxxxxxxxxxxxxxx"]
public_subnet_ids  = ["subnet-xxxxxxxxxxxxxxxxx", "subnet-xxxxxxxxxxxxxxxxx"]

redis_password     = "openssl rand -base64 21"
db_master_password = "openssl rand -base64 21"

# Dify environment
migration_enabled = "true" # only first time
dify_db_password  = "openssl rand -base64 21"
